* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  background-color: #2a3e54;
  color: #212121;
  color: #fafafa;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-box {
  font: inherit;
  padding: 8px;
  width: 320px;
  /* width: 450px; */
  margin-bottom: 16px;
  text-align: center;

  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;

  border-radius: 10px;
  border: 2px solid rgb(147, 147, 146);

  transition-property: width;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

#search-box:focus {
  border: 2px solid rgb(20, 165, 165);
  outline: none;
  width: 450px;
}

.country-list {
  padding: 0;
  justify-content: center;
  max-width: 90%;
  list-style: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  font-weight: 700;
}

.country-list__card {
  display: flex;
  gap: 10px;
  flex-basis: calc((100% - 1 * 30px) / 2);
  min-width: 450px;
  /* border: 1px dotted white; */

  display: flex;
  align-items: center;
}

.country-list__card:hover {
  cursor: pointer;
}

.country-list__img {
  display: block;
  min-width: 100px;
  height: 100%;
  /* max-width: 100%; */
  transition: transform 250ms linear;
}

.country-list__card:hover .country-list__img {
  transform: scale(1.15) rotate(-3deg);
}

.img-wrap {
  width: 100px;
  height: 70px;
}

.country-list__img {
  object-fit: contain;
  max-width: 100%;
}

.country-list__desc {
  position: relative;
  font-size: 20px;
  transition: font-size 250ms linear;
  padding-bottom: 5px;
}
.country-list__desc::after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: width 250ms linear;
}

.country-list__card:hover .country-list__desc::after {
  width: 100%;
}

.country-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-info__img {
  min-height: 300px;
  border-radius: 10px;
  width: 450px;
  max-height: 350px;
}

.country-info__name {
  margin: 20px 0;

  font-size: 50px;
}

.country-info__cap {
  margin: 7px 0;
}

.country-info__pop {
  margin: 7px 0;
}

.country-info__lan {
  margin: 7px 0;
}
